html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: url(https://i.imgur.com/Xnp4rFY.png), auto;
}

body {
  height: 100%;
  background-color: black;
}

p {
  color: #74d2f9;
  font-size: 5vw;
  text-shadow: 2px 2px 15px #74d2f9;
}

.centered01 {
  vertical-align: middle;
  top: 7vh;
  left: 16vw;
  right: 16vw;
  bottom: 7vh;
  position: fixed;
  z-index: -50;
}

.centered02 {
  position: fixed;
  top: 35vh;
  left: 40vw;
  right: 40vw;
  text-align: center;
  z-index: 100;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.item {
  margin: 4px;
  color: grey;
  text-shadow: 2px 2px 10px white;
  margin: 0;
  padding: 0;
  flex: 0 1 calc(20vw - 8px);
  /* <-- adjusting for margin */
}

.fmarquee01 {
  display: inline-block;
  padding-top: 100%;
  animation: marquee01 5s linear infinite;
}

.fmarquee01:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  cursor: pointer;
}

.fmarquee02 {
  display: inline-block;
  padding-top: 100%;
  animation: marquee02 7s linear infinite;
}

.fmarquee02:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  cursor: pointer;
}

.fmarquee03 {
  display: inline-block;
  padding-top: 100%;
  animation: marquee03 10s linear infinite;
}

.fmarquee03:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  cursor: pointer;
}

@keyframes marquee01 {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, -100%);
  }
}

@keyframes marquee02 {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, -100%);
  }
}

@keyframes marquee03 {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, -100%);
  }
}

.frotation {
  transform-origin: center;
  transform: rotate(360deg);
  animation: rotation 5s linear infinite;
}

.frotation:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  cursor: pointer;
}

.fspacing01 {
  animation: spacing01 1s linear infinite;
}

.fspacing02 {
  transform: rotateY(10deg);
  animation: spacing02 1s linear infinite;
}

.fspacing03 {
  transform: rotateY(20deg);
  animation: spacing03 1s linear infinite;
}

.fspacing04 {
  transform: rotateY(30deg);
  animation: spacing04 1s linear infinite;
}

.fspacing05 {
  transform: rotateY(40deg);
  animation: spacing05 1s linear infinite;
}

.fspacing06 {
  transform: rotateY(50deg);
  animation: spacing06 1s linear infinite;
}

.fspacing07 {
  transform: rotateY(60deg);
  animation: spacing07 1s linear infinite;
}

.fspacing08 {
  transform: rotateY(70deg);
  animation: spacing08 1s linear infinite;
}

.fspacing09 {
  transform: rotateY(80deg);
  animation: spacing09 1s linear infinite;
}

.fspacing10 {
  transform: rotateY(90deg);
  animation: spacing10 1s linear infinite;
}

.fspacing11 {
  transform: rotateY(100deg);
  animation: spacing11 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spacing01 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes spacing02 {
  from {
    transform: rotateY(10deg);
  }

  to {
    transform: rotateY(370deg);
  }
}

@keyframes spacing03 {
  from {
    transform: rotateY(20deg);
  }

  to {
    transform: rotateY(380deg);
  }
}

@keyframes spacing04 {
  from {
    transform: rotateY(30deg);
  }

  to {
    transform: rotateY(390deg);
  }
}

@keyframes spacing05 {
  from {
    transform: rotateY(40deg);
  }

  to {
    transform: rotateY(400deg);
  }
}

@keyframes spacing06 {
  from {
    transform: rotateY(50deg);
  }

  to {
    transform: rotateY(410deg);
  }
}

@keyframes spacing07 {
  from {
    transform: rotateY(60deg);
  }

  to {
    transform: rotateY(420deg);
  }
}

@keyframes spacing08 {
  from {
    transform: rotateY(70deg);
  }

  to {
    transform: rotateY(430deg);
  }
}

@keyframes spacing09 {
  from {
    transform: rotateY(80deg);
  }

  to {
    transform: rotateY(440deg);
  }
}

@keyframes spacing10 {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(450deg);
  }
}

@keyframes spacing11 {
  from {
    transform: rotateY(100deg);
  }

  to {
    transform: rotateY(460deg);
  }
}

/*.fglow {
  animation: glowing 1s linear infinite;
}

@keyframes glowing {
  0% { text-shadow: 0 0 0px black; }
  12.5% { text-shadow: 0 0 4px black; }
  25% { text-shadow: 0 0 8px black; }
  37.5% { text-shadow: 0 0 12px black; }
  50% { text-shadow: 0 0 16px black; }
  62.5% { text-shadow: 0 0 12px black; }
  75% { text-shadow: 0 0 8px black; }
  87.5% { text-shadow: 0 0 4px black; }
  100% { box-shadow: 0 0 0px black; }
}*/
